<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body style="font-size: larger; color: black">
  <form th:method="GET" th:action="@{/search?starts_with=*{startsWith}}" th:object="${searchRequest}">
      <label th:for="title">Введите название книги </label>
      <input type="text" th:field="*{startsWith}" id="title">
      <input type="submit" value="Найти">
  </form>
<div th:if="${books}">
    Результат поиска:
    <div th:if="${books.isEmpty()}" style="color: red">
        Подходящих книг не найдено
    </div>
    <div th:if="${!books.isEmpty()}" th:each="book: ${books}">
        <a th:href="@{books/{id}(id=${book.getId()})}">
            <span th:text="${book.getTitle()}"/>
            <span th:text="${book.getAuthor()}"/>,
            <span th:text="${book.getYear()}" />
            <br/>
            Владелец: <span th:if="${book.getOwner()}" th:text="${book.getOwner().getFullName()}"/>
            <span th:if="${book.getOwner() == null}"> книга не взята </span>
        </a>
        <hr/>
    </div>
</div>
  <footer>
      <a th:href="@{/}">Стартовая страница</a>
  </footer>
</body>
</html>